.TuwaiqTrainers {
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: center;
}
.userAvatar {
  border-radius: 50%;
  width: 45vh;
  height: 40vh;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  transition: 1s;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
}

.userAvatar:hover {
  transform: scale(1.1);
}
/* .keyDiv{

} */
div.BestPro img {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
div.rotate_right {
  float: left;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
}
img {
  width: 284px;
}
.contMap {
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 30px; */
}
.trainers {
  background-color: white;
  font-size: 30px;
  align-items: center;
  text-align: center;
  color: #003151;
  /* text-decoration: cadetblue; */
  width: 25%;
  border: none;
  padding: 2%;
  margin: 20px auto;
  box-shadow: 0 2px 4px 0 rgb(151, 171, 172), 0 3px 10px 0 rgb(151, 171, 172);
  transition: 1s;
  border-radius: 5px;
}
.trainers:hover {
  transform: scale(1.1);
}
.userNameStyle {
  color: #003151;
}

.cont {
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  margin: 5%;
  display: grid;

  padding: 30px;
}

.descrition {
  align-items: center;
}
.mainPage {
  width: 100%;
  height: 80vh;
}

.userManiPage {
  border-radius: 5px;
  width: 55vh;
  border: none;
  /* padding: 20px; */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
}
.imgDivMain {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
}
.TimeLineMain {
  padding: 6%;
}
.paragMain {
  height: 13vh;
  margin-top: 10%;
  color: #003151;
}
.TuwaiqProjectMain{
  /* justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  /* flex-wrap: wrap; */
  padding: 3%;
}
.TimeLineDecrrepton{
  text-align: center;
  padding: 6%;
}