* {
  padding: 0%;
  margin: 0%;
}
<<<<<<< HEAD
.AllPage {
  margin-top: -5%;
=======
.AllPage{
    margin-top: -5%;
>>>>>>> 1a186e43f253f872297fd47a65e38e39aa136225
}
.contenerImg {
  margin: 5%;
  padding: 5%;
}
.mainCard {
  background-color: rgb(245, 244, 244);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 678px;
  margin: 37px auto;
}
.emailDiv {
  margin-bottom: 2em;
}
.userImg {
<<<<<<< HEAD
  width: 16vw;
  height: 16vw;
=======
  border-radius: 50%;
  margin-left: 43px;
>>>>>>> 1a186e43f253f872297fd47a65e38e39aa136225
  width: 30%;
}
.profileInfo {
  padding-top: 2rem;
  margin-left: 3rem;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}
.addDiv2 {
  border-radius: 1rem;
  background-color: #30869d;
  padding: 1rem;
  width: 8vw;
  color: white;
}
.addDiv2:hover {
  background-color: #69b0c4;
}
.editIcon {
  margin-left: 34rem;
}

/*<---------------------------------------------------------------> */

.Picture {
  border-radius: 15%;
  align-items: center;
  width: 80%;
}

.postDiv {
  margin: 10%;
  padding: 10%;
  align-items: center;
  display: inline-block;
}
.desc {
  margin: 4%;
  padding: 4%;
  text-align: center;
  color: black;
  text-decoration: double;
}
.borderImg {
  width: 100%;
  height: 100%;
}
.userImg {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
<<<<<<< HEAD
.TimeLineBtn {
  background-color: #30869d;
  color: aliceblue;
  border-radius: 5px;
  padding: 2%;
}
.userName {
=======
.TimeLineBtn{
background-color: #30869d;
color: aliceblue;
border-radius: 5px;
padding :2%;
}
.userName{
>>>>>>> 1a186e43f253f872297fd47a65e38e39aa136225
  color: #30869d;
  /* text-align: center; 
  align-items: center; */
}
<<<<<<< HEAD


/* <-----------------------------------------------------> */

=======
.editIcon{
  margin-left: 34rem;;
}
>>>>>>> 1a186e43f253f872297fd47a65e38e39aa136225
