.styleDiv{
 align-items: center;
 padding: 40px;
 margin: 5px auto;
} 
.addAnswer {
  border-radius: 1rem;
  background-color: #30869d;
  padding: 0.7rem;
  color: white;
  width: 15vw;
}
.descTimeLine{
  width: 86vw;
  border: 0.2em solid #30869d;
  box-shadow: #30869d;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 0rem;
  margin-bottom: 1rem;
  resize: none;
}
.allInfoR{
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(238, 238, 238);
  transition: 1s;
}