.disContainer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  justify-content: center;
  display: grid;
}
.discussionDiv {
  border: none;
  padding: 0.8rem;
  margin: 0.8rem;
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
}
.addDivbtn{
  border-radius: 1rem;
  background-color: #30869d;
  padding: 0.3rem;
  width: 10vw;
  color: white;
}
.addDivbtn:hover {
  background-color: #69b0c4;
<<<<<<< HEAD
}
=======
}
.sendDiv {
  border-radius: 5px;
  background-color: #30869d;
  padding: 8px;
  width: 15%;
  color: white;
}
.sendDiv:hover {
  background-color: #69b0c4;
}
/* .textArea{
    width: 30%;
    border: 2px solid #30869d;
    box-shadow: #30869d;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px; 
} */
>>>>>>> 1a186e43f253f872297fd47a65e38e39aa136225
