.footer-basic{
text-align: center;
padding: 6px;
background-color: #003151;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
height: 10vh;
color: white;
}
.footer{
    margin-top: 2vh;
    align-items: center;
    text-align: center;
}